{% extends 'layout.html' %}

{%block content%}
<div class="container">
<br>
{% for instance in featured %}

<div class="jumbotron">
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12"><a href="{% url 'products:product-detail' instance.id %}" class = "btn btn-primary btn-xs" role="button">{{ instance.title }}</a> {{ instance.price }} RSD 
        <br>
        {{ instance.description }}
        </div> 
        <br>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12"></div>
        <br>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12"><img src='/media/{{instance.image}}' id="productimage" class="img-fluid rounded max-height float-right" alt="Responsive image"> </div>
        

    </div>
</div>

{% endfor %}
</div>
{% endblock %}

